In [1]:
# !pip install polars

In [2]:
import polars as pl

pl.__version__

'0.16.8'

## Read in Data

In [3]:
data = pl.read_csv('https://raw.githubusercontent.com/noahrubin989/datasets/main/epidemiology/health.csv')

In [4]:
data.head(4)

shape: (4, 7)
┌──────────────┬───────────────┬─────────────────┬───────────┬─────────────┬──────┬──────────────┐
│ GDP/Capita   ┆ MeanSchooling ┆ InfantMortality ┆ Life_exp  ┆ Country     ┆ Year ┆ Country Type │
│ ---          ┆ ---           ┆ ---             ┆ ---       ┆ ---         ┆ ---  ┆ ---          │
│ f64          ┆ f64           ┆ f64             ┆ f64       ┆ str         ┆ i64  ┆ str          │
╞══════════════╪═══════════════╪═════════════════╪═══════════╪═════════════╪══════╪══════════════╡
│ 61598.536704 ┆ 12.6          ┆ 3.3             ┆ 80.953659 ┆ Denmark     ┆ 2018 ┆ Developed    │
│ 4134.987198  ┆ 10.2          ┆ 14.2            ┆ 69.689    ┆ Mongolia    ┆ 2018 ┆ Developing   │
│ 82818.108162 ┆ 13.4          ┆ 3.6             ┆ 83.753659 ┆ Switzerland ┆ 2018 ┆ Developed    │
│ 11633.498009 ┆ 10.6          ┆ 8.7             ┆ 76.52     ┆ Argentina   ┆ 2018 ┆ Developing   │
└──────────────┴───────────────┴─────────────────┴───────────┴─────────────┴──────┴──────────────┘

## Select a Single Column

In [5]:
# Square bracket syntax
data['InfantMortality']

shape: (122,)
Series: 'InfantMortality' [f64]
[
	3.3
	14.2
	3.6
	8.7
	17.2
	11.0
	75.7
	70.8
	23.7
	5.4
	37.9
	2.9
	...
	12.5
	9.2
	1.8
	13.2
	7.0
	6.5
	36.9
	6.2
	41.3
	3.3
	22.5
	27.3
	63.3
]

In [6]:
# Select method
data.select('InfantMortality')

shape: (122, 1)
┌─────────────────┐
│ InfantMortality │
│ ---             │
│ f64             │
╞═════════════════╡
│ 3.3             │
│ 14.2            │
│ 3.6             │
│ 8.7             │
│ ...             │
│ 3.3             │
│ 22.5            │
│ 27.3            │
│ 63.3            │
└─────────────────┘

## Select Multiple Columns

In [7]:
# Square bracket syntax
data[['InfantMortality', 'Life_exp']]

shape: (122, 2)
┌─────────────────┬───────────┐
│ InfantMortality ┆ Life_exp  │
│ ---             ┆ ---       │
│ f64             ┆ f64       │
╞═════════════════╪═══════════╡
│ 3.3             ┆ 80.953659 │
│ 14.2            ┆ 69.689    │
│ 3.6             ┆ 83.753659 │
│ 8.7             ┆ 76.52     │
│ ...             ┆ ...       │
│ 3.3             ┆ 74.782927 │
│ 22.5            ┆ 70.454    │
│ 27.3            ┆ 68.7      │
│ 63.3            ┆ 63.73     │
└─────────────────┴───────────┘

In [8]:
# Select method
data.select(['InfantMortality', 'Life_exp'])

shape: (122, 2)
┌─────────────────┬───────────┐
│ InfantMortality ┆ Life_exp  │
│ ---             ┆ ---       │
│ f64             ┆ f64       │
╞═════════════════╪═══════════╡
│ 3.3             ┆ 80.953659 │
│ 14.2            ┆ 69.689    │
│ 3.6             ┆ 83.753659 │
│ 8.7             ┆ 76.52     │
│ ...             ┆ ...       │
│ 3.3             ┆ 74.782927 │
│ 22.5            ┆ 70.454    │
│ 27.3            ┆ 68.7      │
│ 63.3            ┆ 63.73     │
└─────────────────┴───────────┘

# Selecting by a Particular Data Type

In [9]:
# Single data type
data.select(pl.col(pl.Utf8))

shape: (122, 2)
┌─────────────┬──────────────┐
│ Country     ┆ Country Type │
│ ---         ┆ ---          │
│ str         ┆ str          │
╞═════════════╪══════════════╡
│ Denmark     ┆ Developed    │
│ Mongolia    ┆ Developing   │
│ Switzerland ┆ Developed    │
│ Argentina   ┆ Developing   │
│ ...         ┆ ...          │
│ Latvia      ┆ Developed    │
│ Iraq        ┆ Developing   │
│ Rwanda      ┆ Developing   │
│ Liberia     ┆ Developing   │
└─────────────┴──────────────┘

In [10]:
# More than one datatype
data.select([pl.col(pl.Float64), pl.col(pl.Int64)])

shape: (122, 5)
┌──────────────┬───────────────┬─────────────────┬───────────┬──────┐
│ GDP/Capita   ┆ MeanSchooling ┆ InfantMortality ┆ Life_exp  ┆ Year │
│ ---          ┆ ---           ┆ ---             ┆ ---       ┆ ---  │
│ f64          ┆ f64           ┆ f64             ┆ f64       ┆ i64  │
╞══════════════╪═══════════════╪═════════════════╪═══════════╪══════╡
│ 61598.536704 ┆ 12.6          ┆ 3.3             ┆ 80.953659 ┆ 2018 │
│ 4134.987198  ┆ 10.2          ┆ 14.2            ┆ 69.689    ┆ 2018 │
│ 82818.108162 ┆ 13.4          ┆ 3.6             ┆ 83.753659 ┆ 2018 │
│ 11633.498009 ┆ 10.6          ┆ 8.7             ┆ 76.52     ┆ 2018 │
│ ...          ┆ ...           ┆ ...             ┆ ...       ┆ ...  │
│ 17858.279978 ┆ 13.0          ┆ 3.3             ┆ 74.782927 ┆ 2018 │
│ 5834.166211  ┆ 7.3           ┆ 22.5            ┆ 70.454    ┆ 2018 │
│ 783.287184   ┆ 4.3           ┆ 27.3            ┆ 68.7      ┆ 2018 │
│ 677.322179   ┆ 4.7           ┆ 63.3            ┆ 63.73     ┆ 2018 │
└──────────────┴───────────────┴─────────────────┴───────────┴──────┘

## Select Based on Column Name Condition

In [11]:
# Example 1
data.select(pl.col('^[Cc].*$'))

shape: (122, 2)
┌─────────────┬──────────────┐
│ Country     ┆ Country Type │
│ ---         ┆ ---          │
│ str         ┆ str          │
╞═════════════╪══════════════╡
│ Denmark     ┆ Developed    │
│ Mongolia    ┆ Developing   │
│ Switzerland ┆ Developed    │
│ Argentina   ┆ Developing   │
│ ...         ┆ ...          │
│ Latvia      ┆ Developed    │
│ Iraq        ┆ Developing   │
│ Rwanda      ┆ Developing   │
│ Liberia     ┆ Developing   │
└─────────────┴──────────────┘

In [12]:
# Example 2
data.select(pl.col('^.*y$'))

shape: (122, 2)
┌─────────────────┬─────────────┐
│ InfantMortality ┆ Country     │
│ ---             ┆ ---         │
│ f64             ┆ str         │
╞═════════════════╪═════════════╡
│ 3.3             ┆ Denmark     │
│ 14.2            ┆ Mongolia    │
│ 3.6             ┆ Switzerland │
│ 8.7             ┆ Argentina   │
│ ...             ┆ ...         │
│ 3.3             ┆ Latvia      │
│ 22.5            ┆ Iraq        │
│ 27.3            ┆ Rwanda      │
│ 63.3            ┆ Liberia     │
└─────────────────┴─────────────┘

## Rename Columns

In [13]:
# Rename method
df_renamed = data.rename({'InfantMortality': 'infmort', 'Country':'ctry'})
df_renamed

shape: (122, 7)
┌──────────────┬───────────────┬─────────┬───────────┬─────────────┬──────┬──────────────┐
│ GDP/Capita   ┆ MeanSchooling ┆ infmort ┆ Life_exp  ┆ ctry        ┆ Year ┆ Country Type │
│ ---          ┆ ---           ┆ ---     ┆ ---       ┆ ---         ┆ ---  ┆ ---          │
│ f64          ┆ f64           ┆ f64     ┆ f64       ┆ str         ┆ i64  ┆ str          │
╞══════════════╪═══════════════╪═════════╪═══════════╪═════════════╪══════╪══════════════╡
│ 61598.536704 ┆ 12.6          ┆ 3.3     ┆ 80.953659 ┆ Denmark     ┆ 2018 ┆ Developed    │
│ 4134.987198  ┆ 10.2          ┆ 14.2    ┆ 69.689    ┆ Mongolia    ┆ 2018 ┆ Developing   │
│ 82818.108162 ┆ 13.4          ┆ 3.6     ┆ 83.753659 ┆ Switzerland ┆ 2018 ┆ Developed    │
│ 11633.498009 ┆ 10.6          ┆ 8.7     ┆ 76.52     ┆ Argentina   ┆ 2018 ┆ Developing   │
│ ...          ┆ ...           ┆ ...     ┆ ...       ┆ ...         ┆ ...  ┆ ...          │
│ 17858.279978 ┆ 13.0          ┆ 3.3     ┆ 74.782927 ┆ Latvia      ┆ 2018 ┆ Developed    │
│ 5834.166211  ┆ 7.3           ┆ 22.5    ┆ 70.454    ┆ Iraq        ┆ 2018 ┆ Developing   │
│ 783.287184   ┆ 4.3           ┆ 27.3    ┆ 68.7      ┆ Rwanda      ┆ 2018 ┆ Developing   │
│ 677.322179   ┆ 4.7           ┆ 63.3    ┆ 63.73     ┆ Liberia     ┆ 2018 ┆ Developing   │
└──────────────┴───────────────┴─────────┴───────────┴─────────────┴──────┴──────────────┘

In [14]:
# Adjust all columns
data.columns = ['gdp_cap', 'mschooling', 'infmort', 'Life_exp', 'ctry', 'yr', 'ctry type']
data

shape: (122, 7)
┌──────────────┬────────────┬─────────┬───────────┬─────────────┬──────┬────────────┐
│ gdp_cap      ┆ mschooling ┆ infmort ┆ Life_exp  ┆ ctry        ┆ yr   ┆ ctry type  │
│ ---          ┆ ---        ┆ ---     ┆ ---       ┆ ---         ┆ ---  ┆ ---        │
│ f64          ┆ f64        ┆ f64     ┆ f64       ┆ str         ┆ i64  ┆ str        │
╞══════════════╪════════════╪═════════╪═══════════╪═════════════╪══════╪════════════╡
│ 61598.536704 ┆ 12.6       ┆ 3.3     ┆ 80.953659 ┆ Denmark     ┆ 2018 ┆ Developed  │
│ 4134.987198  ┆ 10.2       ┆ 14.2    ┆ 69.689    ┆ Mongolia    ┆ 2018 ┆ Developing │
│ 82818.108162 ┆ 13.4       ┆ 3.6     ┆ 83.753659 ┆ Switzerland ┆ 2018 ┆ Developed  │
│ 11633.498009 ┆ 10.6       ┆ 8.7     ┆ 76.52     ┆ Argentina   ┆ 2018 ┆ Developing │
│ ...          ┆ ...        ┆ ...     ┆ ...       ┆ ...         ┆ ...  ┆ ...        │
│ 17858.279978 ┆ 13.0       ┆ 3.3     ┆ 74.782927 ┆ Latvia      ┆ 2018 ┆ Developed  │
│ 5834.166211  ┆ 7.3        ┆ 22.5    ┆ 70.454    ┆ Iraq        ┆ 2018 ┆ Developing │
│ 783.287184   ┆ 4.3        ┆ 27.3    ┆ 68.7      ┆ Rwanda      ┆ 2018 ┆ Developing │
│ 677.322179   ┆ 4.7        ┆ 63.3    ┆ 63.73     ┆ Liberia     ┆ 2018 ┆ Developing │
└──────────────┴────────────┴─────────┴───────────┴─────────────┴──────┴────────────┘