In [1]:
# !pip install polars

In [2]:
import polars as pl

## Read in Data

In [3]:
data = pl.read_csv('https://raw.githubusercontent.com/noahrubin989/datasets/main/epidemiology/health.csv')

## Select a Single Column

In [4]:
# Square bracket syntax

In [5]:
# Select method

## Select Multiple Columns

In [6]:
# Square bracket syntax

In [7]:
# Select method

# Selecting by a Particular Data Type

In [8]:
# Single data type

In [9]:
# More than one datatype

## Select Based on Column Name Condition
Requires

In [10]:
data.select(pl.col("^[Cc].*$"))

shape: (122, 2)
┌─────────────┬──────────────┐
│ Country     ┆ Country Type │
│ ---         ┆ ---          │
│ str         ┆ str          │
╞═════════════╪══════════════╡
│ Denmark     ┆ Developed    │
│ Mongolia    ┆ Developing   │
│ Switzerland ┆ Developed    │
│ Argentina   ┆ Developing   │
│ ...         ┆ ...          │
│ Latvia      ┆ Developed    │
│ Iraq        ┆ Developing   │
│ Rwanda      ┆ Developing   │
│ Liberia     ┆ Developing   │
└─────────────┴──────────────┘

In [11]:
data.select(pl.col('^.*y$'))

shape: (122, 2)
┌─────────────────┬─────────────┐
│ InfantMortality ┆ Country     │
│ ---             ┆ ---         │
│ f64             ┆ str         │
╞═════════════════╪═════════════╡
│ 3.3             ┆ Denmark     │
│ 14.2            ┆ Mongolia    │
│ 3.6             ┆ Switzerland │
│ 8.7             ┆ Argentina   │
│ ...             ┆ ...         │
│ 3.3             ┆ Latvia      │
│ 22.5            ┆ Iraq        │
│ 27.3            ┆ Rwanda      │
│ 63.3            ┆ Liberia     │
└─────────────────┴─────────────┘